@using BlogLayer.CF;
@using BlogLayer.Models.DataModel;
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html, charset=utf-8" />
    <title>Universe Template by templatemo</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="@Url.Content("~/Content/css/templatemo_style.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/nivo-slider.css")" type="text/css" media="screen" />
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-1.6.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-ui.min.js")"></script>
    <script type="text/javascript">
	$(document).ready(function(){
		$("#featured > ul").tabs({fx:{opacity: "toggle"}}).tabs("rotate", 5000, true);
	});
    </script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/ddsmoothmenu.css")" />
    <script type="text/javascript" src="@Url.Content("~/Content/js/ddsmoothmenu.js")">
/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/
    </script>
    <script type="text/javascript">
ddsmoothmenu.init({
	mainmenuid: "templatemo_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})
    </script>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/slimbox2.css")" type="text/css" media="screen" />
    <script type="text/JavaScript" src="@Url.Content("~/Content/js/slimbox2.js")"></script>
</head>
<body style="background-color:black " >
    @{ 
        Session.Remove("giris");
        Session.Remove("adminid");
    }
    <div id="templatemo_wrapper">    
        <div id="templatemo_header">
            <span class="header_border"></span>
            <div id="site_title"><a href="#">YG3-9409</a></div>
            <div id="templatemo_menu" class="ddsmoothmenu">
                <ul>
                    <li><a href="index.html" class="selected"><span></span>Ana Sayfa</a></li>                                      
                    <li><a href="about.html"><span></span>Hakkımızıda</a></li>
                    <li><a href="contact.html"><span></span>İletişim</a></li>
                </ul>
                <br style="clear: left" />
            </div> <!-- end of templatemo_menu -->
            <div class="clear"></div>
        </div> <!-- END of header -->                               
        <div id="templatemo_main_content">
            <div id="templatemo_sidebar">
                <div class="sidebar_content_box">
                    <h3>Kategoriler</h3>
                    <ul class="sidebar_link">
                        @*kategorileri çektik*@                        
                       @{                        
                           RazerBlogContext _db = new RazerBlogContext();
                           List<Category> CategoriesList = _db.Categories.ToList();
                           foreach (Category item in CategoriesList)
                           {
                               <li>@Html.ActionLink(item.Name,"KategoriGoster",new { ViewKategoriID=item.CategoryID})</li>
                           }
                       }
                    </ul>
                </div>                
            </div>
            <div id="templatemo_content">
                @RenderBody()  
                             
            </div>
            <div class="clear"></div>
        </div> <!-- END of templatemo_main_content -->
        <div id="templatemo_footer">
            @Html.ActionLink("Admin Girişi", "Login","Admin")
        </div> <!-- END of templatemo_footer -->
    </div> <!-- END of templatemo_wrapper -->
    <!-- templatemo 389 universe -->
    <!--
    Universe Template
    http://www.templatemo.com/preview/templatemo_389_universe
    -->
</body>
</html>